.project_container{
    
    padding: 2em;
    height: 100%;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100% - 25%);
   
}
.message{
    height: 50px;
    padding: 2em;
    margin-bottom: 2em;
    width: 100%;
 
}
.title_container{

   display: flex;
   justify-content: space-between;
   margin-bottom: 2em;

}